<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description"
          content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <link href="/assets/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="navbar-fixed">
    <nav class="main-navigation white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo grey-text text-darken-3">
                <img src="/img/logo.svg" alt="logo">
                <span class="name">{{ site.title }}</span>
            </a>
            <ul class="right">
                {% for navitem in site.navigation %}
                <li class="{% if navitem.url == page.url %}active{% endif %}">
                    <a href="{{ navitem.url }}" class="grey-text text-darken-3">{{ navitem.title }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="https://github.com/filipproch/reactor-android" class="grey-text text-darken-3" target="_blank">
                        <i class="mdi mdi-github-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<section class="page-header">
    <h3 class="project-description">{{page.description}}</h3>
</section>

<section class="main-content container">
    <div class="row">
        {% for navitem in site.navigation %}
        {% if navitem.subnav %}
        {% if navitem.url == page.url or page.parent == navitem.id %}
        <div class="col s1 m3">
            <ul class="collection">
                {% for item in navitem.subnav %}

                <li class="collection-header"><h4>{{ item.title }}</h4></li>
                {% for child in item.children %}
                <li>
                    <a href="{{ child.url }}"
                       class="collection-item grey-text text-darken-3 {% if child.url == page.url %}active{% endif %}">
                        {{ child.title }}
                    </a>
                </li>
                {% endfor %}

                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}

        <div class="content col s1 m9">
            {{ content }}
        </div>
    </div>
</section>

<footer class="page-footer blue-grey darken-1 white-text">
<!--    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div id="latest-version" class="latest-version card-panel white">
                    The current version is <span class="reactor-current-version"></span>
                </div>
            </div>
        </div>
    </div>-->

    <div class="footer-copyright">
        <div class="container">
            © 2017 Filip Prochazka (@filipproch)
            <span class="grey-text text-lighten-4 right">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </div>
    </div>
</footer>

{% if site.google_analytics %}
<script type="text/javascript">
  (function (i, s, o, g, r, a, m) {
    i[ 'GoogleAnalyticsObject' ] = r;
    i[ r ] = i[ r ] || function () {
        (i[ r ].q = i[ r ].q || []).push(arguments)
      }, i[ r ].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[ 0 ];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="/js/fetch-latest-version.js"></script>
</body>
</html>